In [2]:
str1 = "Hello"
str2 = "good morning"
concatenated_string = str1 + " " + str2
print("Concatenated string:", concatenated_string)

Concatenated string: Hello good morning

In [4]:
name = "hastha"
age = 19
formatted_string = "Name: %s, Age: %d" % (name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: hastha, Age: 19

In [5]:
from string import Template
template = Template("Name: $name, Age: $age")
formatted_string = template.substitute(name=name, age=age)
print("Formatted string:", formatted_string)

Formatted string: Name: hastha, Age: 19

In [7]:
formatted_string = "Name: {}, Age: {}".format(name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: hastha, Age: 19

In [12]:
result_add = 13 + 6
print("Addition result:", result_add)

Addition result: 19

In [11]:
result_sub = 12 - 4
print("Subtraction result:", result_sub)

Subtraction result: 8

In [10]:
result_mul = 10 * 3
print("Multiplication result:", result_mul)

Multiplication result: 30

In [13]:
result_div = 12 / 2
print("Division result:", result_div)

Division result: 6.0

In [14]:
result_exp = 8 ** 6
print("Exponentiation result:", result_exp)

Exponentiation result: 262144

In [15]:
result_mod = 15 % 5
print("Modulus result:", result_mod)

Modulus result: 0

In [16]:
x = 40
x -= 8
print("After subtraction assignment:", x)

After subtraction assignment: 32

In [17]:
y = 14
y *= 2
print("After multiplication assignment:",y)

After multiplication assignment: 28

In [18]:
c = 124
c /= 12
print("After division assignment:", c)

After division assignment: 10.333333333333334